/** new css*/
.content_general {
    height: 75vh;
    align-content: center;
    display: flex;
  }
  .sub_content{
    position: relative;
  }
  .content_video {
    text-align: center;
    position: absolute;
    bottom: 30px;
  }
  .conten_img img{
    border-radius: 3rem;
    width: 100%
  }
  .content_description {
    position: relative;
  }
  .content_description_style {
      width: 90%;
  }
  .content_follow{

  }
  iframe {
    border-radius: 2rem;
    border: 4px solid white;
  }
  .card_content {
      margin: 0 2rem;
      padding-top: 1rem;
      border-radius: 1rem;
      width: 320px;
      -webkit-box-shadow: -2px 15px 11px -10px rgb(181 181 181);
      -moz-box-shadow: -2px 15px 11px -10px rgba(181,181,181,1);
      box-shadow: -2px 15px 11px -10px rgb(181 181 181);
  }
  .card_content h4{
    text-align: center;
    font-size: 1rem;
    font-weight: 700;
  }
  .card_content ul li {
      list-style: none;
  }
  section.content_cards_general {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .content_information {
  }
  .content_type_formation {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr !important;
    gap: 2rem !important;
    padding:2rem;
  }
  .desription_information {
    background: #f2f2f2;
    padding: 2rem;
  }
  .desription_information h3 {
    text-align: center;
  }
  .desription_information img{
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding-bottom: 2rem;
  }
  .content_courses {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2rem;
  }
  .content_courses img{
    width: 50%;
    display: flex;
  }
  .content_course {
    background: #f2f2f2;
    gap: 1rem;
    text-align: center;
    justify-content: center;
  }
  .card {
    border: 1px solid rgba(0, 0, 0, 0) !important;
    border-radius: 0.25rem;
  }

  .content_icons {
    display: flex;
    gap: 0.7rem;
  }
  .content_icons img{
    width: 25px;
  }
  .content_import {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }
  .conten_img img {
    width: 100%;
    display: flex;
    margin: auto;
  }
  .content_follow {
    position: absolute;
    bottom: -180px;
  }
  @media (max-width: 1020px){
    .content_courses {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 2rem;
    }
  }
  @media (max-width: 780px) {
    .content_courses{
      grid-template-columns: 1fr 1fr;
    }
    .content_course {

  }
    .content_type_formation{
      grid-template-columns: 1fr !important;
      gap: 0 !important;
    }
    .content_follow {
      position: inherit;
      padding-top: 1rem;
    }
    .content_video {
      position: inherit;
    }
  }

  @media (max-width: 500px){
    .content_import {
      display: grid;
      gap: 0;
      justify-content: center;
    }
    .content_information {
      padding-top: 11rem;
    }
    .content_courses{
      grid-template-columns: 1fr;
    }
  }
